/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; 
}
main{
  background: linear-gradient(180deg, rgba(85, 124, 159, 255) 0%, rgba(55, 96, 133, 255) 41.4%, white 41.4%, white 58.85%);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items:center;
  padding-inline: 5%;
  padding-top: 10%;
}

#sec-0{
  padding-right:10%;
    
}
#sec-0>img{
  width: 250%; 
}
#sec-1{
  padding-left: 15%;
}
#art-0{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
#art-0>div>img{
  width:100%;
}
#art-0 button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(180deg, rgba(85, 124, 159, 255)
    0%, rgba(55, 96, 133, 255) 100%);
  border: 2px  #06365f ;
  border-style:ridge;
  color: white;
  width:100%;
  line-height: 30%;
  border-radius: 4px;
}
#art-0 button>img{
  width:25%;
}
#art-0 button>p{
  font-weight: 600;
}

#art-1{
  background-color: white;
  border-radius: 3px;
  padding-inline: 6%;
  padding-top: 1%;
}
#art-1 h2{
  color:#1c5380;
  padding-right: 50%;

}
#images img{
  margin-right: 3%;
}
footer{
  display: flex;
  justify-content: space-evenly;
  padding-inline: 10%;
  margin-top: 5%;
  margin-bottom:5%;
}
footer>p{
  color: rgb(186, 184, 184);
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}
footer>ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  width:60%
}
footer>ul>li{
  
  text-transform: uppercase;
  text-align: center;
  color: #1c5380;
  font-weight: bold;
  font-size: 70%;
}